

.container{  
     
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1050px;

    padding: 30px;
 
    display: block;
    justify-content: center;  
    
}

.container h2{
    color: black; 

    display: flex;
    justify-content: center;     
}

.questions {
    display: flex;
    justify-content: center;  

    
}

.post {
    margin: 8px;
    padding: 5px;

    border-radius: 4px;
    width: 30%; 
    height: 40px;
}

.input-button {   
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    color: #333;
    padding: 25px;
}